<div>
    <div class="login-container">
        <h1> Login </h1>
        <form class="login-form" (formGroup)="loginForm">
            <mat-form-field>
                <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" formControlName="password" type="password">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">
                Login
            </button>
        </form>
    </div>
</div>
